@{
    ViewBag.Title = "¡Acceso Denegado!";
}

<div class="card text-white bg-danger" style="margin: 0 auto;">
    <div class="card-header">
        <strong>¡Acceso Denegado!</strong>
    </div>
    <div class="card-body text-dark bg-light">
        <p class="card-text">Usted no está autorizado para ingresar a este lugar.</p>
    </div>
</div>