@{
    ViewBag.Title = "Envio de Correo Verificador - Muro Ágil";
}

<div class="card text-white bg-success" style="max-width: 400px; margin: 0 auto; margin-bottom: 20px;">
    <div class="card-header">
        <strong>¡Correo Enviado!</strong>
    </div>
    <div class="card-body text-dark bg-light">
        <p class="card-text">
            <b>¡Te hemos enviado un nuevo correo electrónico para llevar a cabo tu verificación!</b> <br/>
            <br/>
            Solo debes revisar tu buzón de entrada, y seguir las instrucciones que están descritas dentro del mensaje.<br/>
            <br/>
            Recuerda que si no haces tu verificación, no podrás iniciar sesión y hacer uso de las herramientas que tenemos para ti.
        </p>
    </div>
</div>