@{
    ViewBag.Title = "Envio de Correo para Recuperación de Contraseña - Muro Ágil";
}

<div class="card text-white bg-success" style="max-width: 400px; margin: 0 auto; margin-bottom: 20px;">
    <div class="card-header">
        <strong>¡Correo Enviado!</strong>
    </div>
    <div class="card-body text-dark bg-light">
        <p class="card-text">
            <b>¡Te hemos enviado un nuevo correo electrónico para llevar a cabo la recuperación de tu contraseña!</b> <br />
            <br />
            Solo debes revisar tu buzón de entrada, y seguir las instrucciones que están descritas dentro del mensaje.<br/>
            <br/>
            <b>Por seguridad, si no has creado una nueva contraseña en 10 minutos, se cancelará el proceso de recuperación.</b>
        </p>
    </div>
</div>