@{
    ViewBag.Title = "Registro Exitoso - Muro Ágil";
}

<div class="card text-white bg-success" style="max-width: 400px; margin: 0 auto; margin-bottom: 20px;">
    <div class="card-header">
        <strong>¡Cuenta Creada!</strong>
    </div>
    <div class="card-body text-dark bg-light">
        <p class="card-text">
            Tu cuenta ha sido creada exitosamente, pero aún hace falta un paso.<br/>
            Para poder iniciar sesión, <b>antes debes verificar tu dirección de correo</b>, esto se hace mediante el correo electrónico que te acabamos de enviar.</p>
    </div>
</div>
